<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="bg-gray-100">
    <%- include('../partials/header'); %>

    <main class="container mx-auto px-4 py-16">
      <form action="/blog/<%= blog.id %>" method="POST">
        <div class="mb-4">
          <label for="title" class="block text-lg font-medium text-gray-700"
            >Title</label
          >
          <input
            type="text"
            name="title"
            id="title"
            class="border-2 border-gray-300 rounded-md w-full p-2"
            required
            value="<%= blog.title %>"
          />
        </div>
        <div class="mb-4">
          <label for="content" class="block text-lg font-medium text-gray-700"
            >Content</label
          >
          <textarea
            name="content"
            id="content"
            rows="10"
            class="border-2 border-gray-300 rounded-md w-full p-2"
            required
          >
<%= blog.content %></textarea
          >
        </div>
        <div class="mb-4 text-right">
          <button
            type="submit"
            class="bg-blue-600 text-white rounded-md px-4 py-2"
          >
            Update
          </button>
        </div>
      </form>
    </main>
  </body>
</html>
