<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="bg-gray-100">
    <%- include('../partials/header'); %>

    <main class="container mx-auto px-4 py-16">
      <div class="mb-6">
        <form action="/search" method="GET">
          <div class="relative">
            <input
              type="text"
              name="q"
              class="border-2 border-gray-300 rounded-md w-full pl-10 p-2"
              placeholder="Search posts..."
              value="<%= searchQuery %>"
            />
            <svg
              class="absolute top-1/2 left-3 transform -translate-y-1/2 h-4 w-4 text-gray-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <circle cx="11" cy="11" r="8"></circle>
              <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
          </div>
        </form>
      </div>
      <% blogs.forEach(function(blog) { %>
      <div class="divide-y divide-gray-200 mb-3">
        <a href="/blog/<%= blog.id %>" class="block">
          <div
            class="bg-white shadow-md rounded-md p-4 hover:cursor-pointer transition"
          >
            <div class="flex items-start">
              <img
                src="<%= blog.user.img %>"
                alt="User Image"
                class="rounded-full w-10 h-10 mr-4"
              />
              <div>
                <div class="text-gray-700 text-sm">
                  <span>@<%= blog.user.name %></span>
                </div>
                <div class="text-gray-700 text-sm mb-2">
                  <span><%= blog.createdAt.toISOString().slice(0, 10) %></span>
                </div>
                <h2 class="text-xl font-semibold mb-2"><%= blog.title %></h2>
              </div>
            </div>
          </div>
        </a>
      </div>
      <% }) %>
    </main>
  </body>
</html>
