<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="bg-gray-100">
    <%- include('../partials/header'); %>

    <main class="container mx-auto px-4 py-16">
      <div class="flex justify-between items-center mb-4">
        <div class="flex items-center">
          <img
            src="<%= user.img %>"
            alt="User Image"
            class="rounded-full w-20 h-20 mr-4"
          />
          <div>
            <div class="text-gray-700 text-lg">
              <span>Posts by @<%= user.name %></span>
            </div>
          </div>
        </div>

        <a
          href="/your-logout-endpoint-here"
          class="bg-red-600 text-white rounded-md px-4 py-2"
          >Delete Account</a
        >
      </div>
      <% blogs.forEach(function(blog) { %> <%- include('../partials/blog-card',
      { blog: blog}); %> <% }) %>
    </main>
  </body>
</html>
